using System;

namespace Chess_Server
{
	public class Config
	{
		public static readonly int BUFFER_SIZE = 4096;
        public static readonly int SERVER_PORT = 14653;

        public static readonly int SALT_LENGTH = 2;
        
        public static readonly string MYSQL_IP = "localhost";
		public static readonly string MYSQL_ID = "ID";
		public static readonly string MYSQL_PW = "PASSWORD";
		public static readonly string MYSQL_DB = "DB_NAME";

		// Config에 대한 자세한 내용은 다음 링크를 확인하세요: https://stackexchange.github.io/StackExchange.Redis/Configuration
		public static readonly string REDIS_CONFIG = "localhost";
	}
}
